@{
    ViewBag.Title = "Home";
}
@section ViewHeader {
@Styles.Render("~/Content/themes/default/home.css")
@Styles.Render("~/Content/themes/default/shared.css")

}
<div>
    <div class="centerBox">
        <h1>GUMBLR</h1>
        <p class="tagLine">Place bets. Follow matches. Lose.</p>
        <p><a href="/Home/RequestAnInvite" class="DefaultButton">Request an invite &raquo;</a></p>
    </div>
</div>
