@{
    ViewBag.Title = "Match administration";
}

@section ViewHeader {
    @Scripts.Render("~/Scripts/GroupAdmin/MatchesViewModel.js")
    @Scripts.Render("~/Scripts/GroupAdmin/Matches.js")
    @Scripts.Render("~/Scripts/moment.js")


    <script>
        $(document).ready(function () {
            var model = @Html.Raw(Json.Encode(Model));
            var matches = new Matches(model);
            matches.init();
        });
    </script>
}

<ul data-bind="foreach: matches" class="BetList">
    <li style="margin: 10px 0px">
        <span class="TeamName" data-bind="text: match.Host"></span>
        vs.
        <span class="TeamName" data-bind="text: match.Visitor"></span>
        <span class="MatchSubtitle">
            <span data-bind="text: moment(match.StartTime).format('MMMM Do YYYY, h:mm:ss a')"></span>
        </span>
        <select data-bind="options: possibleResults, value: match.selectedResult"> </select>
    </li>
</ul>

<button data-bind="click: submit">submit</button>

