@{
    ViewBag.Title = "User administration";
}

@section ViewHeader {
    @Scripts.Render("~/Scripts/GroupAdmin/UsersViewModel.js")
    @Scripts.Render("~/Scripts/GroupAdmin/Users.js")


    <script>
        $(document).ready(function () {
            var users = new Users();
            users.init();
        });
    </script>
}


<ul data-bind="foreach: users" >
    <li style="margin: 10px 0px">
        <span>Name: </span><input data-bind="value: Name" />
        <span>Email address: </span><input data-bind="value: EmailAddress" />
        <span>Password: </span><input data-bind="value: Password" />
    </li>
</ul>

<button data-bind="click: addUser">add user</button>
<button data-bind="click: submit">submit</button>

