body .LoaderContainer {
  min-height: 130px;
}
body .LoaderContainer .Spinner {
  position: relative !important;
  margin-top: 50px;
}
body .Logo {
  display: block;
  width: 57px;
  height: 50px;
  margin: 5px 35px;
}
body .Logo:hover {
  border-color: rgba(255, 106, 0, 0.6);
}
body .WinnerSelectionFrame {
  margin-top: 20px;
  font-family: Calibri;
  width: 760px;
  margin-right: auto;
  margin-left: auto;
  background-color: #dedede;
  border-radius: 10px;
}
body .WinnerSelectionFrame .WinnerSelectionFrameTitle {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
body .WinnerSelectionFrame .SelectContainer {
  vertical-align: top;
  display: inline-block;
  margin: 20px 89px;
}
body .WinnerSelectionFrame .SelectContainer .DropDown {
  width: 200px;
}
body .WinnerSelectionFrame .SelectedItemContainer {
  vertical-align: top;
  display: inline-block;
  margin: 0px 125px;
}
body .BetList {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body .BetList .MatchContainer {
  margin-top: 20px;
  font-family: Calibri;
  width: 760px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
body .BetList .MatchContainer .ActualResultFrame {
  margin-top: 0px;
  width: 150px;
  background-color: #dedede;
  border-radius: 10px;
  padding: 10px;
  margin-right: 0px;
  display: inline-block;
  height: 250px;
  position: relative;
  vertical-align: top;
}
body .BetList .MatchContainer .ActualResultFrame .SuccessIndicatorContainer {
  width: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -24px;
  position: relative;
  top: 50%;
}
body .BetList .MatchContainer .StatisticsFrame {
  margin-top: 0px;
  width: 150px;
  background-color: #dedede;
  border-radius: 10px;
  padding: 10px;
  margin-right: 0px;
  display: inline-block;
  height: 250px;
  position: relative;
  vertical-align: top;
}
body .BetList .MatchContainer .StatisticsFrame .ShowStatisticsButtonContainer {
  width: 100px;
  margin: 0 auto;
}
body .BetList .MatchContainer .MatchFrame {
  width: 450px;
  height: 250px;
  border-radius: 10px;
  background-color: #dedede;
  padding: 10px 25px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
body .BetList .MatchContainer .MatchFrame .MatchTitle {
  text-align: center;
  color: #3b3b3b;
}
body .BetList .MatchContainer .MatchFrame .MatchTitle .TeamName {
  font-size: 25px;
  font-weight: bold;
}
body .BetList .MatchContainer .MatchFrame .MatchSubtitle {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #3b3b3b;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer {
  display: inline-block;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .SelectionMarker {
  width: 27px;
  height: 27px;
  margin: 5px 50px;
  visibility: hidden;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .Visible {
  visibility: visible;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .Selected {
  border: solid;
  border-color: red;
  border-radius: 10px;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .Draw {
  border: none;
}
body .BetList .MatchContainer .MatchFrame .StatusLine {
  bottom: 0;
}
body .BetList .MatchContainer .MatchFrame .StatusLine .StatusText {
  text-align: center;
}
