body .MatchFrame {
  font-family: Calibri;
  margin-right: auto;
  margin-left: auto;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  background-color: #dedede;
  padding: 10px 25px;
  position: relative;
}
body .MatchFrame .MatchTitle {
  text-align: center;
  color: #3b3b3b;
}
body .MatchFrame .MatchTitle .TeamName {
  font-size: 25px;
  font-weight: bold;
}
body .MatchFrame .MatchSubtitle {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #3b3b3b;
}
body .MatchFrame .LogoContainer {
  display: inline-block;
}
body .MatchFrame .LogoContainer .SelectionMarker {
  width: 27px;
  height: 27px;
  margin: 5px 50px;
  visibility: hidden;
}
body .MatchFrame .LogoContainer .Visible {
  visibility: visible;
}
body .MatchFrame .LogoContainer .Logo {
  display: block;
  width: 57px;
  height: 50px;
  margin: 5px 35px;
}
body .MatchFrame .LogoContainer .Logo:hover {
  border-color: rgba(255, 106, 0, 0.6);
}
body .MatchFrame .LogoContainer .Draw {
  border: none;
}
body .MatchFrame .StatusLine {
  bottom: 0;
}
body .MatchFrame .StatusLine .StatusText {
  text-align: center;
}
