body .LoaderContainer {
  min-height: 130px;
}
body .LoaderContainer .Spinner {
  position: relative !important;
  margin-top: 50px;
}
body .centered-text {
  text-align: center;
}
body .Logo {
  display: block;
  width: 80px;
  height: 80px;
  margin: 5px 50px;
}
body .Logo:hover {
  border-color: rgba(255, 106, 0, 0.6);
}
body .hide-button-container {
  text-align: right;
}
body .hidden {
  visibility: hidden;
}
body .WinnerSelectionFrame {
  margin-top: 20px;
  font-family: Calibri;
  width: 762px;
  margin-right: auto;
  margin-left: auto;
  background-color: #dedede;
}
body .WinnerSelectionFrame .WinnerSelectionFrameTitle {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
body .WinnerSelectionFrame .SelectContainer {
  vertical-align: top;
  display: inline-block;
  margin: 33px 88px;
}
body .WinnerSelectionFrame .SelectContainer .DropDown {
  width: 200px;
}
body .WinnerSelectionFrame .SelectedItemContainer {
  vertical-align: top;
  display: inline-block;
  margin: 0px 98px;
}
body .BetList {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: Calibri;
}
body .BetList .HiddenMatchContainer {
  height: 0px;
  margin: 0px;
  visibility: hidden;
}
body .BetList .HiddenMatchContainer .MatchFrame {
  padding: 0px;
}
body .BetList .StartedMatchContainer {
  margin-top: 3px;
  width: 762px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
body .BetList .StartedMatchContainer .ActualResultFrame {
  visibility: hidden;
  height: 0;
}
body .BetList .StartedMatchContainer .StatisticsFrame {
  visibility: hidden;
  height: 0;
}
body .BetList .StartedMatchContainer .failed-bet {
  background-color: #ee8888;
}
body .BetList .StartedMatchContainer .successful-bet {
  background-color: #88cc88;
}
body .BetList .StartedMatchContainer .unknown-bet-result {
  background-color: #dedede;
}
body .BetList .StartedMatchContainer .MatchFrame {
  width: 762px;
  height: 70px;
  padding: 5px 25px;
  position: relative;
  vertical-align: top;
}
body .BetList .StartedMatchContainer .MatchFrame .TeamsContainer {
  margin-right: auto;
  margin-left: auto;
  width: 370px;
}
body .BetList .StartedMatchContainer .MatchFrame .MatchSubtitle {
  margin: 0px;
  visibility: hidden;
}
body .BetList .StartedMatchContainer .MatchFrame .LogoContainer {
  vertical-align: top;
  display: inline-block;
}
body .BetList .StartedMatchContainer .MatchFrame .LogoContainer .Logo {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px 35px;
}
body .BetList .StartedMatchContainer .MatchFrame .LogoContainer .team-name-container {
  text-align: center;
}
body .BetList .StartedMatchContainer .MatchFrame .LogoContainer .team-name-container .TeamName {
  font-size: 12px;
  font-weight: bold;
}
body .BetList .StartedMatchContainer .MatchFrame .LogoContainer .Selected {
  border: solid;
  border-color: red;
  border-radius: 5px;
}
body .BetList .StartedMatchContainer .MatchFrame .LogoContainer .Draw {
  border: none;
}
body .BetList .MatchContainer {
  margin-top: 3px;
  width: 762px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
body .BetList .MatchContainer .ActualResultFrame {
  margin-top: 0px;
  width: 150px;
  background-color: #dedede;
  padding: 10px;
  margin-right: 0px;
  display: inline-block;
  height: 180px;
  position: relative;
  vertical-align: top;
}
body .BetList .MatchContainer .ActualResultFrame .SuccessIndicatorContainer {
  width: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -24px;
  position: relative;
  top: 50%;
}
body .BetList .MatchContainer .StatisticsFrame {
  margin-top: 0px;
  width: 150px;
  background-color: #dedede;
  padding: 10px;
  margin-right: 0px;
  display: inline-block;
  height: 180px;
  position: relative;
  vertical-align: top;
}
body .BetList .MatchContainer .StatisticsFrame .buttons-container {
  margin-bottom: 5px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
body .BetList .MatchContainer .StatisticsFrame .buttons-container .centered {
  margin: auto;
  width: 100%;
}
body .BetList .MatchContainer .StatisticsFrame .narrow {
  width: 47%;
}
body .BetList .MatchContainer .StatisticsFrame .wide {
  width: 95%;
}
body .BetList .MatchContainer .MatchFrame {
  width: 607px;
  height: 180px;
  background-color: #dedede;
  padding: 10px 25px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
body .BetList .MatchContainer .MatchFrame .TeamsContainer {
  margin-right: auto;
  margin-left: auto;
  width: 570px;
  height: 120px;
}
body .BetList .MatchContainer .MatchFrame .MatchTitle {
  text-align: center;
  color: #3b3b3b;
}
body .BetList .MatchContainer .MatchFrame .MatchSubtitle {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #3b3b3b;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer {
  vertical-align: top;
  height: 80px;
  display: inline-block;
  width: 180px;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .team-name-container {
  text-align: center;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .team-name-container .title-text {
  font-size: 21px;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .team-name-container .TeamName {
  font-size: 21px;
  font-weight: bold;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .SelectionMarker {
  width: 27px;
  height: 27px;
  margin: 5px 50px;
  visibility: hidden;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .Visible {
  visibility: visible;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .Selected {
  border: solid;
  border-color: red;
  border-radius: 5px;
}
body .BetList .MatchContainer .MatchFrame .LogoContainer .Draw {
  border: none;
}
body .BottomLine {
  margin: 40px auto;
}
body .BottomLine .SubmitContainer {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
body .BottomLine .SubmitContainer .submit-loader-container {
  height: 40px;
  width: 58px;
}
body .BottomLine .SubmitContainer .submit-loader-container .Spinner {
  position: relative !important;
}
body .BottomLine .SubmitContainer .StatusText {
  text-align: center;
}
