body {
    @BackgroundColor: #dedede;
    @FrameHeight: 180px;
    @FrameWidth: 762px;

    .LoaderContainer {
        min-height: 130px;

        .Spinner {
            position: relative !important;
            margin-top: 50px;
        }
    }

    .Logo {
        display: block;
        width: 80px;
        height: 80px;
        margin: 5px 50px;

        &:hover {
            border-color: rgba(255, 106, 0, 0.60);
        }
    }

    .hide-button-container{
        text-align:right;
    }

    .hidden {
        visibility:hidden;
    }

    .WinnerSelectionFrame {
        margin-top: 20px;
        font-family: Calibri;
        width: @FrameWidth;
        margin-right: auto;
        margin-left: auto;
        background-color: @BackgroundColor;

        .WinnerSelectionFrameTitle {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
        }

        .SelectContainer {
            vertical-align: top;
            display: inline-block;
            margin: 33px 88px;

            .DropDown {
                width: 200px;
            }
        }

        .SelectedItemContainer {
            vertical-align: top;
            display: inline-block;
            margin: 0px 98px;
        }
    }

    .BetList {
        list-style: none;
        margin: 0px;
        padding: 0px;
        font-family: Calibri;

        .HiddenMatchContainer {
            height: 0px;
            margin: 0px;
            visibility: hidden;

            .MatchFrame {
                padding:0px;
            }
        }

        .StartedMatchContainer {
            margin-top: 3px;
            width: @FrameWidth;
            margin-right: auto;
            margin-left: auto;
            position: relative;

            .ActualResultFrame {
                visibility: hidden;
                height: 0;
            }

            .StatisticsFrame {
                visibility: hidden;
                height: 0;
            }

            .failed-bet {
                background-color:#ee8888;
            }

            .successful-bet {
                background-color:#88cc88;
            }

            .unknown-bet-result {
                background-color: @BackgroundColor;
            }

            .MatchFrame {
                width: @FrameWidth;
                height: 70px;
                padding: 5px 25px;
                position: relative;
                vertical-align: top;


                .TeamsContainer {
                    margin-right: auto;
                    margin-left: auto;
                    width: 370px;
                }

                .MatchSubtitle {
                    margin: 0px;
                    visibility: hidden;
                }

                .LogoContainer {
                    vertical-align: top;
                    display: inline-block;

                    .Logo {
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin: 5px 35px;
                    }

                    .team-name-container {
                        text-align: center;

                        .TeamName {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }

                    .Selected {
                        border: solid;
                        border-color: red;
                        border-radius: 5px;
                    }

                    .Draw {
                        border: none;
                    }
                }
            }
        }

        .MatchContainer {
            margin-top: 3px;
            width: @FrameWidth;
            margin-right: auto;
            margin-left: auto;
            position: relative;

            .ActualResultFrame {
                margin-top: 0px;
                width: 150px;
                background-color: @BackgroundColor;
                padding: 10px;
                margin-right: 0px;
                display: inline-block;
                height: @FrameHeight;
                position: relative;
                vertical-align: top;

                .SuccessIndicatorContainer {
                    width: 48px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -24px;
                    position: relative;
                    top: 50%;
                }
            }

            .StatisticsFrame {
                margin-top: 0px;
                width: 150px;
                background-color: @BackgroundColor;
                padding: 10px;
                margin-right: 0px;
                display: inline-block;
                height: @FrameHeight;
                position: relative;
                vertical-align: top;

                .ShowStatisticsButtonContainer {
                    margin-bottom: 5px;
                    display: inline-block;
                    width: 47%;
                    margin-right: auto;
                    margin-left: auto;

                    .centered {
                        margin:auto;
                        width:100%;
                    }
                }
            }

            .MatchFrame {
                width: 607px;
                height: @FrameHeight;
                background-color: @BackgroundColor;
                padding: 10px 25px;
                display: inline-block;
                position: relative;
                vertical-align: top;

                .TeamsContainer {
                    margin-right: auto;
                    margin-left: auto;
                    width: 570px;
                    height: 120px;
                }

                .MatchTitle {
                    text-align: center;
                    color: #3b3b3b;
                }

                .MatchSubtitle {
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                    color: #3b3b3b;
                }

                .LogoContainer {
                    vertical-align: top;
                    height: 80px;
                    display: inline-block;
                    width:180px;

                    .team-name-container {
                        text-align: center;

                        .title-text {
                            font-size: 21px;
                        }

                        .TeamName {
                            font-size: 21px;
                            font-weight: bold;
                        }
                    }

                    .SelectionMarker {
                        width: 27px;
                        height: 27px;
                        margin: 5px 50px;
                        visibility: hidden;
                    }

                    .Visible {
                        visibility: visible;
                    }

                    .Selected {
                        border: solid;
                        border-color: red;
                        border-radius: 5px;
                    }

                    .Draw {
                        border: none;
                    }
                }
            }
        }
    }

    .BottomLine {
        margin: 40px auto;

        .SubmitContainer {
            width: 100px;
            margin-left: auto;
            margin-right: auto;

            .StatusText {
                text-align: center;
            }
        }
    }
}
