body .root-container {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  font-family: Calibri;
}
body .root-container .no-list-style {
  list-style: none;
  padding: 0px;
}
body .root-container .ranking-list .table-item-container {
  padding: 2px;
}
body .root-container .ranking-list .table-item-container .table-item-main {
  margin: 1px;
}
body .root-container .ranking-list .table-item-container .table-item-main .invisible {
  margin: 0px;
  height: 0px;
}
body .root-container .ranking-list .table-item-container .table-item-main .indented {
  margin-left: 10px;
}
body .root-container .ranking-list .table-item-container .table-item-main .table-item-container {
  background-color: #dedede;
  width: 355px;
  height: 30px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
body .root-container .ranking-list .table-item-container .table-item-main .table-item-container span {
  line-height: 30px;
}
body .root-container .ranking-list .table-item-container .table-item-main .current {
  font-weight: bold;
  color: blue;
}
body .root-container .ranking-list .table-item-container .table-item-main .name-container {
  padding-left: 4px;
}
body .root-container .ranking-list .table-item-container .table-item-main .score-container {
  text-align: center;
}
body .root-container .ranking-list .winner {
  background-color: #88cc88;
}
body .root-container .ranking-list .loser {
  background-color: #ee8888;
}
body .score-distribution-container {
  height: 200px;
}
