body {
    @BackgroundColor: #dedede;
    @LineHeight: 30px;

    .root-container{
        margin-left: auto;
        margin-right: auto;
        width: 720px;
        font-family: Calibri;

        .no-list-style {
            list-style: none;
            padding:0px;
        }

        .ranking-list {

            .table-item-container {
                padding: 2px;// remove this

                .table-item-main {
                    margin: 1px;

                    .invisible {
                        margin: 0px;
                        height: 0px;
                    }

                    .indented {
                        margin-left: 10px;
                    }

                    .table-item-container {
                        background-color: @BackgroundColor;
                        width: 355px;
                        height: @LineHeight;
                        position:relative;
                        display: inline-block;
                        vertical-align:middle;
                    }

                    .table-item-container span {
                        line-height:@LineHeight;
                     }

                    .current {
                        font-weight:bold;
                        color: blue;
                    }

                    .name-container {
                        padding-left:4px;
                    }

                    .score-container {
                        text-align: center;

                    }
                }
            }

            .winner {
                background-color: #88cc88;
            }

            .loser {
                background-color: #ee8888;
            }
        }
    }

    .score-distribution-container {
        height: 200px;
    }
}
